@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  --color-primary: #264653;
  --color-secondary: #3F767D;
  --color-tertiary: #E9C46A;
  --color-quaternary: #F4A261;
  --color-quinary: #E76F51;

  --color-priority-one: #494CA2;
  --color-priority-two: #BC5080;
  --color-priority-three: #FF6361;
  --color-priority-four: #D2D462;
  --color-priority-five: #6F975C;

  --color-text-primary: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 10fr;

  font-family: 'DynaPuff';

  background-color: var(--color-primary);

  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* NOTE: .navbar */
.navbar {
  padding: 10px;

  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 15px;

  background-color: var(--color-secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.navbar header {
  display: grid;
  grid-template-columns: 40px 1fr 25px 25px;
  align-items: center;
  gap: 5px;
}

.navbar img {
  width: 40px;
  height: 40px;
  object-fit: cover;

  border-radius: 50%;
}

#icon {
  width: 25px;
  height: 25px;
}

#icon:hover,
#avatar:hover,
#nav-text:hover {
  cursor: pointer;
}

#icon:active,
#avatar:active,
#nav-text:active {
  transform: scale(.85);
}

.main-nav {
  display: grid;
  grid-template-rows: 200px repeat(2, 150px);
  gap: 25px;
}

.main-icons,
.projects,
.team {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 5px;

  padding-left: 7.5px;
}

.active {
  filter: invert(86%) sepia(35%) saturate(100%) hue-rotate(113deg) brightness(104%) contrast(96%);
}

#nav-text {
  width: fit-content;
}
