@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  --color-primary: 50, 77, 110;
  --color-secondary: 88, 114, 145;
  --color-tertiary: 129, 212, 250;
  --color-quaternary: 81, 229, 255;

  --color-priority-1: 73, 76, 162;
  --color-priority-2: 188, 80, 128;
  --color-priority-3: 255, 99, 99;
  --color-priority-4: 210, 212, 98;
  --color-priority-5: 111, 151, 92;

  --color-text-primary: 255, 255, 255;
  --color-text-secondary: 240, 200, 8;
  --color-text-tertiary: 175, 175, 175;

  --color-button-done: 0, 255, 0;
  --color-button-remove: 255, 0, 0;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 10fr;

  font-family: 'DynaPuff';

  background-color: rgb(var(--color-primary), 1);

  color: rgb(var(--color-text-primary));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#icon {
  width: 25px;
  height: 25px;

  object-fit: cover;

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(101%);
}

#icon:hover {
  filter: invert(77%) sepia(74%) saturate(530%) hue-rotate(356deg) brightness(91%) contrast(107%);

  cursor: pointer;
}

#icon:active {
  transform: scale(0.9);
}

.content {
  padding: 10px 50px;
}
