@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  --color-primary: 50, 77, 110;
  --color-secondary: 88, 114, 145;
  --color-tertiary: 129, 212, 250;

  --color-priority-one: #494CA2;
  --color-priority-two: #BC5080;
  --color-priority-three: #FF6361;
  --color-priority-four: #D2D462;
  --color-priority-five: #6F975C;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #F0C808;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 10fr;

  font-family: 'DynaPuff';

  background-color: rgb(var(--color-primary), 1);

  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#icon {
  width: 25px;
  height: 25px;

  object-fit: cover;

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(101%);
}

#icon:hover {
  filter: invert(77%) sepia(74%) saturate(530%) hue-rotate(356deg) brightness(91%) contrast(107%);

  cursor: pointer;
}

#icon:active {
  transform: scale(0.9);
}
