@import "../styles.css";

.task {
  background-color: rgb(var(--color-secondary));

  max-width: 200px;

  margin: 10px 0 15px 0;
  padding: 10px;

  border-radius: 10px;

  cursor: pointer;
}

.task:hover {
  box-shadow: 0 0 10px rgba(var(--color-quaternary), .75);
}

.task-buttons {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.task-description {
  font-size: 0.9rem;

  color: rgb(var(--color-text-tertiary));
}

.task-done-button {
  padding: 5px;

  background-color: rgba(var(--color-button-done), .75);
  color: rgb(var(--color-text-primary));

  border: none;
  border-radius: 5px;

  font-weight: bold;
}

.task-remove-button {
  padding: 5px;

  background-color: rgba(var(--color-button-remove), .75);
  color: rgb(var(--color-text-primary));

  border: none;
  border-radius: 5px;

  font-weight: bold;
}

.task-done-button:hover,
.task-remove-button:hover {
  cursor: pointer;
}

.task-done-button:active,
.task-remove-button:active {
  transform: scale(0.9);
}
