:root {
  --color-primary: #161925;
  --color-secondary: #EDB458;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-primary);
  color: var(--color-secondary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  width: 300px;
  height: 300px;

  border-radius: 20px;

  background-color: var(--color-secondary);
  padding: 10px;
}

.cell {
  background-color: var(--color-primary);
  color: var(--color-secondary);

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  padding: 0;

  height: calc(290px / 3);
}

.cell:hover,
.replay-button:hover {
  cursor: pointer;
}

.cell p {
  margin: 0;
  font-size: 5rem;
}

.replay-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);

  border: none;
  border-radius: 10px;

  padding: 10px;

  margin-top: 20px;

  font-size: 1.5rem;
}

.replay-button:active {
  scale: 0.9;
}
